p, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 6em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 15px;
  text-decoration: none;
}
h2{
  text-align: center;
  font-size: 4em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 15px;
  text-decoration: none;
}
h3{
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
}
div{
  padding: 15px;
  margin: 20px auto;
}
