p, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 6em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 15px;
  text-decoration: none;
}
h2{
  text-align: center;
  font-size: 4em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 15px;
  text-decoration: none;
}
h3{
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
}
div{
  padding: 15px;
  margin: 20px auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li a {
    display: block;
    width: 60px;
}
.custom-sidenav {
  @include side-nav(
    // Font size of nav items
    $font-size:1.2em;
  );
}
.sheep {
  position: absolute;
  right: -480px;
}
