body{
    background:url(http://lostworldsfairs.com/atlantis/img/bg_backwave.png)repeat-x 1px 80px,
      rgb(122, 218, 255); );

}

#stage{
  height:3000px;
  width:100px;
  margin:0 auto;
  border: 1px solid red;
  position:relative;
/*   overflow:hidden; */

}
/* p {
  height: 100px;
  width: 200px;
  background:red;
  color:white;
  position:absolute;
  left:-200px;
  top:2500;
  transition:left 0.2s;
} */
#submarine {
  height:50px;
  width:100px;
  border:1px solid red;
  margin-left: -50px;
  line-height:50px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translate(0px);
  animation: float 6s ease-in-out infinite;
  }
  #bird {
    height:50px;
    width:100px;
    border:1px solid red;
    margin-left: -70px 20px;
    line-height:50px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translate(0px);
    animation: float 6s ease-in-out infinite;
    }
