p, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'Caveat', cursive;
  font-size: 6em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 2px;
  text-decoration: none;
}
h2 {
  font-size: 4em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 2px;
  text-decoration: none;
}
h3 {
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  margin: 20px auto;
  padding: 2px;
  text-decoration: none;
}
/* div {
  padding: 2px;
  margin: 5px auto;
} */
.cen {
  text-align: center;
}
/* .homepic{
  line-height: 0.1px;
  width: 0.1px;
  margin: 0.1px;
} */
